<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fhbingen.mensa"
    android:versionCode="11"
    android:versionName="2016-01-19" >

    <!--
        <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- ActiveAndroid ORM -->
    <meta-data
        android:name="AA_DB_NAME"
        android:value="AA_Mensa.db" />
    <meta-data
        android:name="AA_DB_VERSION"
        android:value="1" />
    <meta-data
        android:name="AA_MODELS"
        android:value="de.fhbingen.mensa.data.orm.Building, de.fhbingen.mensa.data.orm.Date, de.fhbingen.mensa.data.orm.Delete, de.fhbingen.mensa.data.orm.Dish, de.fhbingen.mensa.data.orm.Ingredient, de.fhbingen.mensa.data.orm.LocalComplains, de.fhbingen.mensa.data.orm.LocalRating, de.fhbingen.mensa.data.orm.OfferedAt, de.fhbingen.mensa.data.orm.Photo, de.fhbingen.mensa.data.orm.Rating, de.fhbingen.mensa.data.orm.Sequence                       de.fhbingen.mensa.data.orm.Dish,                        de.fhbingen.mensa.data.orm.OfferedAt,                        de.fhbingen.mensa.data.orm.Rating,                        de.fhbingen.mensa.data.orm.Sequence" />
    <meta-data
        android:name="AA_SERIALIZERS"
        android:value="de.fhbingen.mensa.data.serializer.SqlDateSerializer, de.fhbingen.mensa.data.serializer.SqlTimeSerializer" />

    <application
        android:name=".Mensa"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".AboutActivity"
            android:label="@string/action_about" >
        </activity>

        <activity
            android:name=".MainActivitySlide"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.UpdateContentService"
            android:enabled="true"
            android:exported="false"
            android:label="UpdateContentService" >
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivitySlide" >
        </activity>

        <receiver
            android:name=".NetworkStateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DishDetailActivity"
            android:label="@string/title_activity_dish_detail" >
        </activity>
        <activity
            android:name=".IngredientsActivity"
            android:label="@string/settings_ingredients" >
        </activity>
        <activity
            android:name=".GalleryOverview"
            android:label="@string/title_gallery" >
        </activity>
        <activity
            android:name=".PhotoDetailActivity"
            android:label="@string/title_photo_detail" >
        </activity>
    </application>

</manifest>
